<!DOCTYPE html>
<html ng-app="mainApp" ng-controller="mainCont">
    <head>
        <title>File Browser</title>
        <link rel="stylesheet" type="text/css" href="assets/css/main.css">
    </head>
    
    <body>
        <div class="container">
            <div class="well">
                <h1>File Browser - Version 1</h1>
                <h4>{{currentPath}}</h4>
                <hr/>
                <h3>Contents:</h3>
            </div>
        
            <div class="well">
                <div ng-repeat="(key, value) in files">
                    <div>
                        <h4 ng-if="value==='dir'"><span class="glyphicon glyphicon-folder-open"></span><a style="padding-left:15px;" href="javascript:void(0)" ng-click="changeDir(key)">{{key}}</a></h4>
                        <h4 ng-if="value==='file'"><span class="glyphicon glyphicon-download-alt"></span><a style="padding-left:15px;" href="{{getFullFilePath(key)}}" ng-click="downloadFile(key)" download>{{key}}</a></h4>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Now, link JS -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/material.min.js"></script>
        <script src="assets/js/ripples.min.js"></script>
        <script src="assets/js/angular.min.js"></script>
        <script src="assets/js/dirList.js"></script>
    </body>
</html>